html{
    font-size:  22x;
    text-align: center;
    padding: 0;
    padding: 0;
    font-family: arial;
}
body{
    background-color: rgb(1, 10, 10);
    color: beige;
}
.pim1{
    width: 100%;
}
.pim1:hover{
    cursor: pointer;
}
.hd{
    font-size: 30px;
    margin-left: 550px;
}
main{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 68px;
    margin-bottom: 50px;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex: 1 1;
    height: 64px;
    justify-content: space-between;
}
hr{
    color: cyan;
   position: fixed;
   left: 5px;
   right: 5px;
   top: 60px;
   margin: 0;
   background-color: black;
}
.account{
    display: flex;
    flex-direction: row;
    flex: 30px 1;
    align-items: center;
    top: 0;
    margin-left: 400px;
}
.crt1{
    width: 30px;
    background-color: cyan;
    border-radius: 14px;
    border: 0 none black;
    margin-right: 10px;
    padding: 5px;
    margin-left: 5px;
}
.acc{
    padding: 5px 25px 5px 25px;
    border: 2px solid cyan;
    color: cyan;
    background-color: rgb(10, 10, 10);
    font-size: 25px;
    text-decoration: none;
    border-radius: 20px;
}
.acc:hover{
    background-color:  cyan;
    color: black;
}
footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 60px;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex: 1 1 1;
    justify-content: space-between;
    align-items: center;
}
.nav{
    border: 2px solid  cyan;
    background-color: rgb(10, 10, 10);
    height: 50px;
    align-items: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 30px 1;
    margin: 120px;
    border-radius: 20px;
    padding-left: 2px;
}
.crt1{
    width: 30px;
    background-color: cyan;
    border-radius: 14px;
    border: 0 none black;
    margin-right: 10px;
    padding: 5px;
    margin-left: 5px;
}
.nv1 , .nv2 , .nv3 {
    color: cyan;
    background-color: rgb(10, 10, 10);
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 12px;
    font-size: 20px;
    text-align: center;
    margin: 0;
}
.nv1:hover{
    text-decoration: none;
    cursor: pointer;
    background-color: cyan;
    color: rgb(10, 10, 10);
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 12px;
    font-size: 25px;
    transition: 0.15s;
}
.nv2:hover{
    text-decoration: none;
    cursor: pointer;
    background-color: cyan;
    color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 12px;
    font-size: 25px;
    transition: 0.15s;
}
.nv3:hover{
    text-decoration: none;
    cursor: pointer;
    background-color: cyan;
    color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 12px;
    font-size: 25px;
    transition: 0.15s;
}
.srch{
    border-width: 2px;
    border-color: cyan;
    color: white;
    background-color:  rgb(34, 34, 34);
    font-size: 20px;
    text-align: center;
    border-style: solid;
    border-radius: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 500px;
}
.srch::placeholder{
    color: cyan;
}
.srch-bttn{
    color: black;
    background-color: cyan;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    font-size: 20px;
    border-radius: 18px;
    padding-left: 25px;
    padding-right: 25px;
}
.srch-bttn:hover{
    background-color: rgb(10, 10, 10);
    color: cyan;
    padding-left: 28;
    padding-right: 28;
    border: 2px solid cyan;
}
.cat-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 50px;
    justify-content: center;
}
.ttl{
    font-size: 20px;
    font-weight: bold;
    color: cyan;
    text-align: center;
    font-size: 22px;
}
.pt, .com, .mec, .woc, .fad, .sta, .hos, .elect{
    border-radius: 12px;
    background-color: black;
}
.pt:hover{
    cursor: pointer;
    box-shadow: 10px 10px 12px cyan;
    background-color: rgb(1, 7, 10);
    transition: 0.15s;
    color: aqua;
}
.com:hover{
    cursor: pointer;
    box-shadow: 10px 10px 12px cyan;
    background-color: rgb(1, 7, 10);
    transition: 0.15s;
    color: aqua;
}
.mec:hover{
    cursor: pointer;
    box-shadow: 10px 10px 12px cyan;
    background-color: rgb(1, 7, 10);
    transition: 0.15s;
    color: aqua;
}
.woc:hover{
    cursor: pointer;
    box-shadow: 10px 10px 12px cyan;
    background-color: rgb(1, 7, 10);
    transition: 0.15s;
    color: aqua;
}
.fad:hover{
    cursor: pointer;
    box-shadow: 10px 10px 12px cyan;
    background-color: rgb(1, 7, 10);
    transition: 0.15s;
    color: aqua;
}
.sta:hover{
    cursor: pointer;
    box-shadow: 10px 10px 12px cyan;
    background-color: rgb(1, 7, 10);
    transition: 0.15s;
    color: aqua;
}
.hos:hover{
    cursor: pointer;
    box-shadow: 10px 10px 12px cyan;
    background-color: rgb(1, 7, 10);
    transition: 0.15s;
    color: aqua;
}
.elect:hover{
    cursor: pointer;
    box-shadow: 10px 10px 12px cyan;
    background-color: rgb(1, 7, 10);
    transition: 0.15s;
    color: aqua;
}