html{
   background-color:  rgb(1, 10, 10);
   color: white;
   font-family: arial;
   font-size: 22px;
   text-align: start;
   line-height: 10px;
}
body{
   margin-left: 300px;
   margin-right: 500px;
   padding: 20px;
   background-color: black;
   border-radius: 20px;
   box-shadow: 2px 2px 10px 1px cyan;
}
header{
   font-size: 35px;
   font-weight: 700;
   margin-bottom: 40px;
   text-align: center;
}
h2{
   font-size: 25px;
}
.srch{
   border-width: 2px;
   border-color: cyan;
   color: white;
   background-color:  rgb(34, 34, 34);
   font-size: 20px;
   text-align: center;
   border-style: solid;
   border-radius: 14px;
   padding-top: 4px;
   padding-bottom: 4px;
   width: 500px;
   text-align: start;
   padding-left: 8px
}
.srch::placeholder{
   color: cyan;
}
.srch-bttn{
   color: black;
   background-color: cyan;
   border: none;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-left: 10px;
   font-size: 20px;
   border-radius: 18px;
   padding-left: 25px;
   padding-right: 25px;
}
.srch-bttn:hover{
   background-color: rgb(10, 10, 10);
   color: cyan;
   padding-left: 28;
   padding-right: 28;
   border: 2px solid cyan;
}
.bttn{
   font-size: 25px;
   text-decoration: none;
   background-color: cyan;
   color: black;
   border: none;
   padding: 8px 15px 8px 15px;
   border-radius: 12px;
}
.bttn:hover{
   font-size: 28px;
   text-decoration: none;
   background-color: black;
   color: cyan;
   border: 2px solid cyan;
   padding: 10px 20px 10px 20px;
   transition: 0.15s;
}
.btn{
   text-align: center;
}